Vamos con XML

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
xml = pd.read_csv('data/df_xml.csv', index_col = 'index')

In [3]:
texto = pd.read_csv("data/data_txt_clean.txt", sep = ";")

In [4]:
# nos quedamos sólo con estas columnas:

texto_q_filtrado = texto.loc[:,("Q3", "Q4", "Q5", "Q6", "Q20", "Q25")]
texto_q_filtrado.head()

,Q3,Q4,Q5,Q6,Q20,Q25
0,India,Bachelor’s degree,Other,5-10 years,Manufacturing/Fabrication,"25,000-29,999"
1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Manufacturing/Fabrication,"60,000-69,999"
2,Pakistan,Master’s degree,Software Engineer,1-3 years,Academics/Education,$0-999
3,Mexico,Doctoral degree,Research Scientist,20+ years,Academics/Education,"30,000-39,999"
4,India,Doctoral degree,Other,< 1 years,Academics/Education,"30,000-39,999"

In [5]:
kaggle = pd.read_csv('data/kaggle.csv', index_col='index')

In [10]:
# pasamos las columnas a una lista para buscarlas directamente en el df de kaggle:
columns_kag = kaggle.columns

q39_q42 = []

for col in columns_kag:     # para que vaya iterando por todas las columnas

    regex_= 'Q39|Q40|Q42' 

    if re.findall(regex_, col):

        q39_q42.append(col)

q39_q42

['Q39_Part_1',
 'Q39_Part_2',
 'Q39_Part_3',
 'Q39_Part_4',
 'Q39_Part_5',
 'Q39_Part_6',
 'Q39_Part_7',
 'Q39_Part_8',
 'Q39_Part_9',
 'Q39_OTHER',
 'Q40_Part_1',
 'Q40_Part_2',
 'Q40_Part_3',
 'Q40_Part_4',
 'Q40_Part_5',
 'Q40_Part_6',
 'Q40_Part_7',
 'Q40_Part_8',
 'Q40_Part_9',
 'Q40_Part_10',
 'Q40_Part_11',
 'Q40_OTHER',
 'Q42_Part_1',
 'Q42_Part_2',
 'Q42_Part_3',
 'Q42_Part_4',
 'Q42_Part_5',
 'Q42_Part_6',
 'Q42_Part_7',
 'Q42_Part_8',
 'Q42_Part_9',
 'Q42_Part_10',
 'Q42_Part_11',
 'Q42_OTHER']

In [11]:
kaggle_q_filtrado= kaggle[q39_q42]

In [12]:
# comprobamos que todos los archivos contienen el mismo número de filas para la unión

print(kaggle_q_filtrado.shape)
print(texto_q_filtrado.shape)
print(xml.shape)

(25973, 34)
(25973, 6)
(25973, 3)

In [13]:
df_adalab = xml.join(texto_q_filtrado).join(kaggle_q_filtrado)
df_adalab.columns

Index(['time', 'age', 'gender', 'Q3', 'Q4', 'Q5', 'Q6', 'Q20', 'Q25',
       'Q39_Part_1', 'Q39_Part_2', 'Q39_Part_3', 'Q39_Part_4', 'Q39_Part_5',
       'Q39_Part_6', 'Q39_Part_7', 'Q39_Part_8', 'Q39_Part_9', 'Q39_OTHER',
       'Q40_Part_1', 'Q40_Part_2', 'Q40_Part_3', 'Q40_Part_4', 'Q40_Part_5',
       'Q40_Part_6', 'Q40_Part_7', 'Q40_Part_8', 'Q40_Part_9', 'Q40_Part_10',
       'Q40_Part_11', 'Q40_OTHER', 'Q42_Part_1', 'Q42_Part_2', 'Q42_Part_3',
       'Q42_Part_4', 'Q42_Part_5', 'Q42_Part_6', 'Q42_Part_7', 'Q42_Part_8',
       'Q42_Part_9', 'Q42_Part_10', 'Q42_Part_11', 'Q42_OTHER'],
      dtype='object')

In [14]:
df_adalab.to_csv("data/df_adalab.csv")