Vamos con XML

In [31]:
import pandas as pd
import numpy as np
import re

In [9]:
xml_copia = pd.read_csv('data/df_xml.csv', index_col = 'index')

In [10]:
xml_copia.drop(["Unnamed: 0"], axis = 1, inplace = True)

In [11]:
texto_copia = pd.read_csv('data/texto.csv', sep = ";")

In [12]:
texto_copia.drop(['0,"index'], axis = 1, inplace = True)

In [50]:
texto_copia.head()

,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN
2,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",...,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None
3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,"1000-9,999 employees",...,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN
4,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,50-249 employees,...,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI

In [54]:
texto_q_filtrado = texto_copia.loc[:,("Q3", "Q4", "Q5", "Q6", "Q20", "Q25")]
texto_q_filtrado.head()

,Q3,Q4,Q5,Q6,Q20,Q25
0,India,Bachelor’s degree,Other,5-10 years,Manufacturing/Fabrication,"25,000-29,999"
1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Manufacturing/Fabrication,"60,000-69,999"
2,Pakistan,Master’s degree,Software Engineer,1-3 years,Academics/Education,$0-999
3,Mexico,Doctoral degree,Research Scientist,20+ years,Academics/Education,"30,000-39,999"
4,India,Doctoral degree,Other,< 1 years,Academics/Education,"30,000-39,999"

In [13]:
kaggle_copia = pd.read_csv('data/kaggle.csv', index_col='index')

In [29]:
columns_kag = kaggle_copia.columns
columns_kag[10:50]

Index(['Q19_Part_4', 'Q19_Part_5', 'Q19_OTHER', 'Q27_A_Part_1', 'Q27_A_Part_2',
       'Q27_A_Part_3', 'Q27_A_Part_4', 'Q27_A_Part_5', 'Q27_A_Part_6',
       'Q27_A_Part_7', 'Q27_A_Part_8', 'Q27_A_Part_9', 'Q27_A_Part_10',
       'Q27_A_Part_11', 'Q27_A_OTHER', 'Q28', 'Q29_A_Part_1', 'Q29_A_Part_2',
       'Q29_A_Part_3', 'Q29_A_Part_4', 'Q29_A_OTHER', 'Q30_A_Part_1',
       'Q30_A_Part_2', 'Q30_A_Part_3', 'Q30_A_Part_4', 'Q30_A_Part_5',
       'Q30_A_Part_6', 'Q30_A_Part_7', 'Q30_A_OTHER', 'Q31_A_Part_1',
       'Q31_A_Part_2', 'Q31_A_Part_3', 'Q31_A_Part_4', 'Q31_A_Part_5',
       'Q31_A_Part_6', 'Q31_A_Part_7', 'Q31_A_Part_8', 'Q31_A_Part_9',
       'Q31_A_OTHER', 'Q36_A_Part_1'],
      dtype='object')

In [ ]:
# pasamos las columnas a una lista para buscarlas directamente en el df de kaggle:


q39_q42 = []

for col in columns_kag:     # para que vaya iterando por todas las columnas

    regex_= 'Q39|Q40|Q42' 

    if re.findall(regex_, col):

        q39_q42.append(col)

q39_q42

In [49]:
kaggle_q_filtrado= kaggle_copia[q39_q42]

In [55]:
print(kaggle_q_filtrado.shape)
print(texto_q_filtrado.shape)
print(xml_copia.shape)

(25973, 34)
(25973, 6)
(25973, 3)

In [ ]:
df_txt_kaggle = pd.merge(left=df_2002, right=df_species, how='left',
                        left_on='species_id', right_on='species_id')

In [60]:
df_adalab = xml_copia.join(texto_q_filtrado).join(kaggle_q_filtrado)
df_adalab.columns

Index(['time', 'age', 'gender', 'Q3', 'Q4', 'Q5', 'Q6', 'Q20', 'Q25',
       'Q39_Part_1', 'Q39_Part_2', 'Q39_Part_3', 'Q39_Part_4', 'Q39_Part_5',
       'Q39_Part_6', 'Q39_Part_7', 'Q39_Part_8', 'Q39_Part_9', 'Q39_OTHER',
       'Q40_Part_1', 'Q40_Part_2', 'Q40_Part_3', 'Q40_Part_4', 'Q40_Part_5',
       'Q40_Part_6', 'Q40_Part_7', 'Q40_Part_8', 'Q40_Part_9', 'Q40_Part_10',
       'Q40_Part_11', 'Q40_OTHER', 'Q42_Part_1', 'Q42_Part_2', 'Q42_Part_3',
       'Q42_Part_4', 'Q42_Part_5', 'Q42_Part_6', 'Q42_Part_7', 'Q42_Part_8',
       'Q42_Part_9', 'Q42_Part_10', 'Q42_Part_11', 'Q42_OTHER'],
      dtype='object')

In [61]:
df_adalab.to_csv("data/df_adalab.csv")